html,
body {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 18px;
	line-height: 1.2;
	background-color: #849d8f;
	color: #ffffff;
	font-weight: bold;
	margin: 0;
}

a {
	text-decoration: none;
	color: #ffffff;
}

.link {
	display: inline-block;
	vertical-align: top;
	padding: 10px 26px;
	padding-bottom: 12px;
	font-weight: 500;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	text-transform: none;
	text-decoration: none;
	white-space: normal;
	background-color: #f26843;
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	color: #ffffff;
	border: none;
	border-radius: 22px;
	cursor: pointer;
	outline: none;
}

.link:hover {
	background-image: linear-gradient(0deg, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 100%);
	box-shadow: 0px 2px 2px 0px rgb(172, 16, 0);
}

.link:active {
	box-shadow: inset 0 2px 2px #942718;
	background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
	background-color: #d07058;
}

.link-small {
	display: inline-block;
	vertical-align: top;
	padding: 10px 15px;
	padding-bottom: 12px;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	text-transform: none;
	text-decoration: none;
	white-space: normal;
	background-color: #f26843;
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	color: #ffffff;
	border: none;
	border-radius: 22px;
	cursor: pointer;
	outline: none;
}

.link-small:hover {
	background-image: linear-gradient(0deg, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 100%);
	box-shadow: 0px 2px 2px 0px rgb(172, 16, 0);
}

.link-small:active {
	box-shadow: inset 0 2px 2px #942718;
	background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
	background-color: #d07058;
}

.link2 {
	display: inline;
	vertical-align: top;
	padding: 8px 23px;
	padding-bottom: 12px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	text-transform: none;
	text-decoration: none;
	white-space: normal;
	background-color: #f26843;
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	color: #fefefe;
	border: none;
	border-radius: 22px;
	cursor: pointer;
	outline: none;
}

.link2:hover {
	background-image: linear-gradient(0deg, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 100%);
	box-shadow: 0px 2px 2px 0px rgb(172, 16, 0);
}

.link2:active {
	box-shadow: inset 0 2px 2px #942718;
	background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.link3 {
	display: inline-block;
	vertical-align: top;
	padding: 8px 23px;
	padding-bottom: 12px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 700;
	text-align: center;
	text-transform: none;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	white-space: normal;
	background-color: #f26843;
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border: none;
	border-radius: 22px;
	cursor: pointer;
	outline: none;
	color: #ffffff;
	font-size: 32px;
	line-height: 44px;
}

.link3:hover {
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px #ac1000;
}

.link3:active {
	box-shadow: inset 0 2px 2px #942718;
	background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.link4 {
	display: inline-block;
	vertical-align: top;
	padding: 8px 23px;
	padding-bottom: 12px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 700;
	text-align: center;
	text-transform: none;
	text-decoration: none;
	white-space: normal;
	background-color: #f26843;
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border: none;
	border-radius: 22px;
	cursor: pointer;
	outline: none;
	color: #fceeec;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	align-self: flex-end;
	margin-bottom: 2px;
}

.link4:hover {
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px #ac1000;
}

.link4:active {
	box-shadow: inset 0 2px 2px #942718;
	background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.link5 {
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	background-color: #a1b4a9;
	margin-top: 30px;
}

.link5:hover {
	background-color: #f8f7f4;
	color: #323232;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
}

.link6 {
	color: #323232;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	background-color: #f8f7f4;
	padding: 9px 21px;
}

.link6 a {
	text-decoration: none;
}

.link6:hover {
	background-color: #fbded7;
}

.link6:active {
	background-color: #f6b5a5;
}

.link7 {
	display: inline-block;
	vertical-align: top;
	padding: 8px 23px;
	padding-bottom: 12px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 700;
	text-align: center;
	text-transform: none;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	white-space: normal;
	background-color: #f26843;
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border: none;
	border-radius: 22px;
	cursor: pointer;
	outline: none;
	color: #ffffff;
	font-size: 32px;
	font-weight: 700;
	line-height: 44px;
}

.link7:hover {
	background-image: linear-gradient(0deg, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 100%);
	box-shadow: 0px 2px 2px 0px rgb(172, 16, 0);
}

.link7:active {
	box-shadow: inset 0 2px 2px #942718;
	background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.link8 {
	color: #323232;
	background-color: #f8f7f4;
}

.link9 {
	color: #fefefe;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}

.link10 {
	color: #323232;
	border-bottom: 1px solid rgba(255,255,255,0.2)
}

.link10:hover {
	color: #e84d37;
}

.link10:active {
	color: #e84d37;
}

.link11 {
	color: #ffffff;
	border-bottom: 1px solid rgba(255,255,255,0.2)
}

.link11:hover {
	color: #ffbc9e;
}

.link11:active {
	color: #ffbc9e;
}

.link-html {
	color: #fefefe;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}

.main-header {
	box-sizing: border-box;
	width: 1200px;
	margin: 0 auto;
	padding: 0 27px;
	padding-top: 10px;
}

.main-navigation {
	display: flex;
}

.main-header-logo {
	font-size: 0;
	line-height: 0;
	margin-right: 7px;
}

.main-navigation ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0 0 4px 0;
	list-style: none;
}

.site-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	min-height: 50px;
	margin: 0;
	margin-top: 12px;
	padding: 0;
	list-style: none;
	list-style-type: none;
	flex-grow: 1;
	z-index: 1;
}

.site-nav-item {
	padding-top: 6px;
	padding-bottom: 10px;
	margin-right: 1px;
	position: relative;
	height: 40px;
	text-decoration: none;
}

.site-navigation-catalog {
	display: flex;
	position: absolute;
	flex-direction: column;
	visibility: hidden;
	top: 52px;
	left: -4px;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.site-navigation-catalog a {
	display: block;
	padding: 8px 0 8px 20px;
	font-size: 14px;
	line-height: 1.143em;
	font-weight: 400;
	color: #323232;
	width: 123px;
}

.submenu-bold a {
	border-bottom: 1px solid #d1d0ce;
	padding: 9px 0 11px 15px;
	display: inline-block;
	margin-left: 5px;
	min-width: 128px;
	font-weight: 700;
	box-sizing: border-box;
}

.catalog-submenu-item:first-child:hover {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.catalog-submenu-item:first-child:hover {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.catalog-submenu-item:hover {
	background-color: #fbded7;
}

.catalog-submenu-item:active {
	background-color: #f6b5a5;
}

.catalog-submenu-item-current {
	background-color: #d07058;
}

.site-nav-item:hover .site-navigation-catalog {
	visibility: visible;
}

.user-search {
	margin-right: 10px;
	display: inline-block;
	width: 32px;
	height: 32px;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	position: relative;
}

.user-search svg {
	fill: #ffffff;
	margin-top: 7px;
	margin-left: 7px;
}

.login-link:hover svg {
	fill: #323232;
}

.search {
	display: flex;
	position: relative;
	flex-direction: column;
	visibility: hidden;
	top: 0px;
	right: 0px;
	height: 40px;
	text-decoration: none;
}

.search:hover {
	display: block;
}

.search {
	position: absolute;
	display: block;
	top: 17px;
	width: 341px;
	z-index: 1;
}

.search-wrap {
	display: flex;
	background-color: #f8f7f4;
	border-radius: 5px;
	margin-top: 18px;
}

.search input {
	width: 314px;
	height: 45px;
	margin-top: 18px;
	margin-left: 15px;
	margin-bottom: 18px;
	margin-right: 15px;
	padding-left: 15px;
	font-size: 14px;
	line-height: 24px;
}

.user-search:hover .search {
	visibility: visible;
}

.enter-site {
	width: 93px;
	height: 32px;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.3);
	position: relative;
}

.login-link:hover {
	color: #323232;
	background-color: #f8f7f4;
}

.link-svg {
	font-size: 14px;
	font-weight: 500;
	display: flex;
	align-items: center;
	height: 29px;
	padding-left: 17px;
}

.link-svg span {
	margin-left: 6px;
}

.link-svg svg {
	fill: #ffffff;
}

.login-link:hover svg {
	fill: #323232;
}

.login-link:hover .link-svg {
	color: #323232;
	fill: #323232;
}

.link-svg2 {
	color: #323232;
	font-size: 14px;
	font-weight: 500;
	display: flex;
	align-items: center;
	height: 29px;
	padding-left: 17px;
	background-color: white;
	border-radius: 30px;
}

.link-svg2 span {
	margin-left: 7px;
}

.enter-in {
	font-size: 14px;
	font-weight: 500;
	display: flex;
	align-items: center;
	height: 29px;
	padding-left: 17px;
}

.enter-in span {
	margin-left: 9px;
}

.enter-in svg {
	fill: #ffffff;
}

.enter-in:hover svg {
	fill: #323232;
}

.enter-in:hover {
	color: #323232;
	fill: #323232;
}

.login-in {
	display: none;
	margin-top: 1px;
}

.login-link:hover .login-in {
	display: block;
	position: absolute;
	z-index: 10;
	top: 30px;
	right: -4px;
	padding-top: 4px;
}

.login-form {
	display: flex;
	flex-wrap: wrap;
	width: 238px;
	height: 170px;
	padding-top: 20px;
	padding-bottom: 23px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #f8f7f4;
	border-radius: 4px;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.login-item {
	width: 100%;
	margin: 0 0 17px 0;
}

.login-item-half {
	width: 50%;
	margin: 0;
}

.login-item input {
	padding: 10px 15px;
	width: 100%;
	box-sizing: border-box;
}

.user-navigation {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	margin-top: 15px;
}

.navigation {
	width: 100%;
}

.navigation {
	text-align: right;
}

.navigation span {
	display: block;
}

.navigation1 {
	margin-bottom: 4px;
	font-size: 14px;
	line-height: 16px;
}

.navigation2 {
	font-size: 22px;
	line-height: 24px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0, 0, 0, 0);
}

.site-wrapper {
	min-width: 940px;
	background-color: #849d8f;
	background-image: url("../img/slide1.png");
	background-repeat: no-repeat;
	background-position: top center;
	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
	content: "";
	visibility: hidden;
}

.site-wrapper::before {
	background-image: url("../img/slide2.png");
}

.site-wrapper::after {
	background-image: url("../img/slide3.png");
}

.slider {
	position: relative;
	padding-top: 321px;
	text-align: center;
	color: #ffffff;
	width: 1200px;
	margin: 0 auto;
}

.slider-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slide {
	display: none;
	margin-bottom: 42px;
	margin-top: -65px;
}

.slide-title {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 27px;
	font-size: 60px;
	line-height: 60px;
	font-weight: 800;
	margin-top: 9px;
}

.button {
	display: inline-block;
	padding: 12px 44px;
	font-weight: 600;
	font-size: 32px;
	line-height: 41px;
	text-align: center;
	color: #ffffff;
	vertical-align: top;
	text-decoration: none;
	background: #f26843;
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 50px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border: none;
	cursor: pointer;
}

.button:hover {
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
	position: absolute;
	bottom: 20px;
	left: 0;
	z-index: 20;
	font-size: 0;
	margin-left: 27px;
}

.slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/slider-1.png");
}

#product-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/slide2.png");
}

#product-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/slide3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
	display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
	background-color: #ffffff;
}

.link-under {
	margin-left: 1px;
	margin-top: 9px;
	display: inline-block;
	vertical-align: top;
	padding: 6px 14px;
	padding-bottom: 8px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	text-decoration: underline;
	-webkit-text-decoration-color: rgba(255, 255, 255, 0.3);
	text-decoration-color: rgba(255, 255, 255, 0.3);
	text-align: center;
	color: #ffffff;
}

.site-nav-item:hover .link-under {
	color: #323232;
	background-color: #f7f6f3;
	border-radius: 16px;
	text-decoration: none;
}

.link-under:active {
	box-shadow: inset 0 2px 2px #696969;
	color: #323232;
	background-color: #ededed;
}

.active {
	background-color: #d07058;
	border-radius: 20px;
	text-decoration: none;
}

.color {
	color: #ffffff;
}

.button-input {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

.basket-full {
	display: inline-block;
	position: relative;
	vertical-align: top;
	height: 32px;
}

.user-btn {
	display: block;
	vertical-align: top;
	margin-bottom: 25px;
	border-radius: 20px;
	color: #ffffff;
	background-color: #f7f6f3;
	cursor: pointer;
}

.user-btn.basket-btn {
	position: relative;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 36px;
	padding-right: 22px;
	margin-left: 9px;
	margin-bottom: 15px;
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	height: 12px;
}

.link-bb {
	margin-left: 6px;
	font-weight: 700;
	margin-top: 30px;
}

.basket-btn::before {
	content: "";
	position: absolute;
	left: 16px;
	top: 3px;
	width: 22px;
	height: 22px;
	color: #333333;
	background: url("../img/basket-red.svg") no-repeat;
	fill: #323232;
}

.basket-btn.full-basket-btn {
	padding-right: 15px;
	color: #333333;
	background-color: #f8f7f4;
}

.full-basket-btn {
	color: #333333;
	background-color: #323232;
}

.purchase {
	display: none;
	position: absolute;
	z-index: 20;
	top: 35px;
	right: 0;
	padding-left: 17px;
	padding-right: 14px;
	padding-top: 20px;
	padding-bottom: 19px;
	width: 510px;
	height: 200px;
	font-size: 0;
	color: #323232;
	background-color: #f8f7f4;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	border-radius: 4px;
}

.basket-full:hover .purchase {
	display: block;
}

.purchase .delete-btn::before,
.purchase .delete-btn::after {
	width: 14px;
	height: 1px;
	background-color: #515050;
}

.delete-item-btn.delete-btn {
	width: 11px;
	height: 11px;
}

.item-1 .delete-item-btn.delete-btn {
	top: 26px;
	left: 17px;
}

.item-2 .delete-item-btn.delete-btn {
	top: 80px;
	left: 17px;
}

.basket-content {
	margin-bottom: 15px;
}

.basket-content tr {
	display: block;
}

.basket-content td {
	display: inline-block;
	vertical-align: top;
}

.item-img {
	margin-right: 7px;
	padding-left: 18px;
}

.item-1 .item-img {
	margin-top: -8px;
}

.item-2 .item-img {
	margin-top: -9px;
}

.item-img img {
	border-radius: 50%;
}

.item-name {
	margin-right: 26px;
	width: 216px;
}

.item-name a:hover,
.item-name a:active {
	border-bottom: 1px solid rgba(236, 89, 60, 0.3);
	color: #e84d37;
}

.item-price {
	margin-left: -3px;
	margin-right: 24px;
	color: #999999;
}

.item-1 {
	margin-bottom: 21px;
	padding-top: 6px;
}

.item-2 {
	margin-bottom: 29px;
	padding-top: 2px;
}

.item-1,
.item-2,
.item-name a {
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;
	text-decoration: none;
	border: none;
}

.total {
	margin-bottom: 36px;
	margin-right: -20px;
	margin-top: 1px;
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	color: #333333;
	text-align: right;
}

.total::before {
	content: "";
	position: absolute;
	bottom: 111px;
	left: 16px;
	width: 510px;
	height: 1px;
	background-color: #cacac7;
}

.close-btn.delete-btn {
	position: absolute;
	top: 13px;
	right: 15px;
	width: 19px;
	height: 19px;
	outline: none;
}

.delete-btn {
	position: absolute;
	font-size: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.delete-btn::before,
.delete-btn::after {
	content: "";
	position: absolute;
	top: 9px;
	left: -1px;
	width: 22px;
	height: 2px;
	background-color: #000000;
}

.delete-btn::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.delete-btn::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.purchase-btn {
	display: inline-block;
	padding: 9px 13px;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	vertical-align: top;
	margin-top: -42px;
	margin-left: 340px;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	background: #f26843;
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
}

.purchase-btn:hover {
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px #ac1000;
	color: #fff;
}

.purchase-btn:active {
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.basket {
	width: 100px;
	height: 32px;
	border-radius: 15px;
	margin-left: 10px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	background-color: rgba(255, 255, 255, 0.3);
}

.basket:hover {
	background-color: #f8f7f4;
}

.basket:hover svg {
	fill: #323232;
}

.basket:hover .link-svg {
	color: #323232;
	fill: #323232;
}

.basket-red {
	color: #323232;
	background-color: #ffffff;
	width: 118px;
	height: 32px;
	border-radius: 15px;
	margin-left: 10px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.link-basket {
	padding-left: 15px;
	width: 120px;
	height: 35px;
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
}

.link-basket svg {
	margin-top: 5px;
	fill: #ffffff;
}

.full-basket {
	color: #323232;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
}

.selected-product {
	color: #323232;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
}

.selected-product span {
	color: #999999;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
}

.sum {
	color: #323232;
	font-size: 15px;
	font-weight: 700;
	line-height: 18px;
}

.container2 {
	list-style: none;
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 27px;
	padding-right: 27px;
}

.bc {
	padding: 0;
	margin: 0;
	margin-bottom: 50px;
	min-height: 24px;
}

.crumbs {
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	border-bottom: 1px solid rgba(255,255,255,0.2)
}

.crumbs:last-child {
	border-bottom: none;
}

.breadcrumbs {
	display: -webkit-flex;
	display: flex;
	width: 1200px;
	box-sizing: border-box;
	margin: 16px auto 6px;
}

.breadcrumbs-items {
	margin: 0 2.3%;
	padding: 0;
	list-style-type: none;
}

.breadcrumbs-item {
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: -50px;
}

.breadcrumbs-item:nth-child(n + 2) {
	padding-left: 16px;
}

.breadcrumbs-item:nth-child(n + 2)::before {
	content: "»";
	position: absolute;
	top: 3px;
	left: 3px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}

.active-bc .content-bc {
	border: none;
}

.crumbs:hover:not(.active-bc) {
	color: #ffbc9e;
}

.crumbs:active:not(.active-bc) {
	color: #ffbc9e;
}

.crumbs:hover:not(.active-bc) .content-bc {
	border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.crumbs:active:not(.active-bc) .content-bc {
	border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.content-bc {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.padding-left {
	padding: 0 27px;
	font-size: 35px;
	margin: -53px auto 28px;
	width: 1200px;
	box-sizing: border-box;
}

.container1 {
	width: 1146px;
	margin: 0 auto;
	padding: 0;
}

.filters {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.13em;
	margin-bottom: 16px;
}

.filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-line-pack: justify;
	align-content: space-between;
	height: 128px;
	width: 860px;
}

.filter fieldset {
	padding: 0;
	border: none;
}

.filter legend {
	padding-left: 15px;
	padding-bottom: 5px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.14em;
	color: #ffffff;
}

.filter-fat-wrapper,
.filter-filler-wrapper {
	padding: 9px 14px;
	background-image: none;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.2);
}

.filter-select-wrapper {
	position: relative;
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
	background-image: url("../img/select-arrow.svg");
	background-repeat: no-repeat;
	background-position: 168px 16px;
	border-radius: 20px;
}

.filter-select {
	width: 193px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 9px 34px 9px 14px;
	cursor: pointer;
	font: inherit;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.13em;
	color: #ffffff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	border-radius: 20px;
}

.filter-select:first-child:hover {
	background-color: #9db1a5;
}

.filter-select::-ms-expand {
	display: none;
}

.filter-select-wrapper:hover,
.filter-select-wrapper:focus {
	cursor: pointer;
	color: #323232;
	background-color: #ffffff;
}

.filter-select:hover,
.filter-select:focus {
	color: #323232;
	background-image: url("../img/select-arrow-black.svg");
	background-repeat: no-repeat;
	background-position: 168px 16px;
	background-color: #ffffff;
	outline: none;
}

.filter-select option {
	font-weight: 500;
}

.filter-range {
	width: 220px;
	height: 36px;
	background-image: none;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.2);
}

.range-controls {
	position: relative;
	padding-top: 16px;
	padding-left: 20px;
	padding-right: 20px;
}

.range-controls .scale {
	height: 4px;
	background: rgba(255, 255, 255, 0.5);
}

.range-controls .bar {
	width: 118px;
	height: 4px;
	margin-left: 13px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	width: 20px;
	height: 23px;
	top: 8px;
	background-image: url("../img/filter-button.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.range-toggle-min {
	left: 33px;
}

.range-toggle-max {
	left: 131px;
}

.range-toggle:hover,
.range-toggle:focus {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;
}

.filter-fat {
	width: 415px;
}

.filter-fat-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.filter-radio {
	position: relative;
	padding-left: 31px;
	cursor: pointer;
}

.filter-input-radio + .radio-indicator {
	position: absolute;
	top: -2px;
	left: 0;
	z-index: 5;
	width: 22px;
	height: 22px;
	opacity: 0.8;
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
}

.filter-input-radio:checked + .radio-indicator {
	position: absolute;
	top: -2px;
	left: 0;
	z-index: 5;
	width: 22px;
	height: 22px;
	opacity: 0.8;
	background-image: url("../img/radio-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
}

.filter-input-radio:hover + .radio-indicator,
.filter-input-radio:checked:hover + .radio-indicator {
	opacity: 1;
}

.filter-input-radio:focus + .radio-indicator,
.filter-input-radio:checked:focus + .radio-indicator {
	opacity: 1;
	border-color: #663d15;
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

.filter-input-radio:disabled + .radio-indicator,
.filter-radio-disabled {
	cursor: default;
	opacity: 0.4;
}

.filter-filler {
	width: 703px;
}

.filter-filler-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 9px 20px 9px 16px;
}

.filter-checkbox {
	position: relative;
	padding-left: 33px;
	cursor: pointer;
}

.filter-input-checkbox + .checkbox-indicator {
	position: absolute;
	top: -1px;
	left: 0;
	z-index: 5;
	width: 20px;
	height: 20px;
	opacity: 0.8;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
}

.filter-input-checkbox:checked + .checkbox-indicator {
	position: absolute;
	top: -1px;
	left: 0;
	z-index: 5;
	width: 23px;
	height: 20px;
	opacity: 0.8;
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
}

.filter-input-checkbox:hover + .checkbox-indicator,
.filter-input-checkbox:checked:hover + .checkbox-indicator {
	opacity: 1;
}

.filter-input-checkbox:focus + .checkbox-indicator,
.filter-input-checkbox:checked:focus + .checkbox-indicator {
	opacity: 1;
	border-color: #663d15;
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

.filter-input-checkbox:disabled + .checkbox-indicator,
.filter-checkbox-disabled {
	cursor: default;
	opacity: 0.4;
}

.filter-button {
	font-family: "Roboto", "Arial", sans-serif;
	-ms-flex-item-align: end;
	align-self: flex-end;
	padding: 7px 27px;
	color: #ffffff;
	font-size: 16px;
	line-height: 1.13em;
	font-weight: 500;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(255, 255, 255, 0.2);
	background-image: none;
	border-radius: 20px;
	border: solid 2px #ffffff;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.filter-button:hover {
	color: #323232;
	background-image: none;
	background-color: #ffffff;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.filter-button:active {
	color: #323232;
	background-image: none;
	background-color: #ededed;
	-webkit-box-shadow: inset 0px 2px 1px 0 #696969;
	box-shadow: inset 0px 2px 1px 0 #696969;
}

.regulation {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 1200px;
	height: 135px;
	margin: 0 auto;
	padding: 0 27px;
	border: 1px solid red;
}

.selection-form {
	width: 860px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	font-size: 0px;
	border: 1px solid green;
}

.selection-form input[type=text] {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	border: none;
	background: none;
}

.selection-form input[type=checkbox] {
	display: none;
}

.navigation {
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
}

.navigation a {
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
}

.sort-selection {
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	background-color: rgba(225, 255, 255, 0.2);
	border-radius: 17px;
	padding: 5px;
}

.sort-selection:hover {
	background-color: #9db1a5;
	color: #323232;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
}

.max-price,
.min-price {
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	background-color: #a1b4a9;
}

.user-btn {
	border: 2px solid #ffffff;
	background-color: #a6b8ad;
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	padding-top: 7px;
	padding-bottom: 5px;
	padding-left: 29px;
	padding-right: 25px;
	border-radius: 20px;
}

.user-btn:hover {
	background-color: #ffffff;
	color: #323232;
}

.user-btn:active {
	box-shadow: inset 0 2px 1px #696969;
	background-color: #ededed;
	color: #323232;
}

.inner-slide {
	display: flex;
	justify-content: flex-end;
	align-self: flex-end;
	width: 1170px;
	padding: 0 18px 0 0;
	margin: 0 auto 27px;
	list-style: none;
	box-sizing: border-box;
}

.inner-slide a {
	display: block;
	padding: 5px 8px 3px;
	font-weight: 500;
	line-height: 18px;
	border-radius: 50%;
	margin-right: 2px;
}

.whiteback {
	color: #323232;
	background-color: #ffffff;
}

.inner-slide [href]:hover,
.inner-slide [href]:focus {
	background-color: rgba(255, 255, 255, 0.2);
}

.inner-slide [href]:active {
	background-color: #ffffff;
	color: #323232;
}

.inner-slide button {
	width: 10px;
	height: 10px;
	padding: 0;
	margin-top: 10px;
	background: none;
	border: 2px solid rgba(255, 255, 255, 1);
	border-top-color: transparent;
	border-right-color: transparent;
	cursor: pointer;
}

.item-switch {
	margin-right: 10px;
	background-color: #ffffff;
	opacity: 0.2;
	transform: rotate(45deg);
}

.item-switch2 {
	margin-left: 10px;
	transform: rotate(-135deg);
}

.gift {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 20px;
	padding-left: 27px;
	padding-right: 27px;

}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.gift1 {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 560px;
	min-height: 229px;
	padding: 15px 20px 23px;
	box-sizing: border-box;
	border-radius: 15px;
}

.gift1 h3 {
	color: #ffffff;
	font-size: 35px;
	font-weight: 700;
	line-height: 41px;
	margin: 0;
	margin-bottom: 15px;
}

.gift1 p {
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	flex-grow: 1;
	margin: 0;
	margin-bottom: 22px;
}

.gift-left {
	background-image: url("../img/raspberry.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.gift-right {
	background-image: url("../img/chocolate.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.gift2 {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 560px;
	min-height: 229px;
	padding: 15px 20px 23px;
	box-sizing: border-box;
	border-radius: 15px;
}

.gift2 h3 {
	font-size: 35px;
	font-weight: 700;
	color: #ffffff;
	line-height: 41px;
	margin: 0;
	margin-bottom: 15px;
}

.gift2 p {
	font-size: 18px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	flex-grow: 1;
	margin: 0;
	margin-bottom: 22px;
}

.ice-info {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	list-style: none;
	padding-top: 2px;
}

.ice-configuration {
	position: relative;
	margin-bottom: 8px;
}

.ice-configuration svg {
	position: relative;
	bottom: -4px;
	filter: drop-shadow(1px 1px 3px rgba(49, 50, 53, 0.5));
}

.hit::before {
	content: "";
	display: block;
	position: absolute;
	top: 11px;
	left: -3px;
	width: 67px;
	height: 67px;
	background-image: url("../img/hit.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.ice-image {
	width: 100%;
	height: auto;
	border-radius: 50%;
}

.price-in {
	position: absolute;
	bottom: 16px;
	left: 0;
	margin: 0;
}

.ice-crem {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	width: 1200px;
	margin: 0 auto;
	padding-left: 27px;
	padding-right: 27px;
}

.ice-margin {
	margin-bottom: 52px;
}

.ice-crem ul {
	list-style: none;
}

.price {
	color: #ffffff;
	font-size: 45px;
	text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
	line-height: 45px;
}

.kilogram {
	color: #ffffff;
	font-size: 30px;
	text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
	margin-left: -5px;
}

.first-line-ice {
	padding-top: 5px;
}

.space {
	white-space: pre;
}

.ice-title {
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}

.ice-price {
	display: inline-block;
	position: relative;
	font-size: 16px;
	margin-bottom: 19px;
	width: 23.25%;
	vertical-align: top;
	min-height: 274px;
}

.ice-price::after {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
	content: "";
	display: none;
	height: 405px;
	left: -13px;
	position: absolute;
	top: 9px;
	width: 293px;
	opacity: 0.5;
	z-index: 2;
}

.ice-price:hover::after {
	display: block;
}

.ice-price:hover .hover-btn {
	visibility: visible;
}

.ice-price img {
	margin-top: 20px;
	border-radius: 50%;
	z-index: 60;
}

.hover-btn {
	position: absolute;
	margin-top: 14px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	min-width: 195px;
	box-sizing: border-box;
	padding: 11px 5px;
	visibility: hidden;
	z-index: 100;
}

.box-information {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 40px;
	padding-left: 27px;
	padding-right: 27px;
	padding-top: 8px;
}

.information {
	background: url("../img/waffle.jpg");
	border-radius: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	box-sizing: border-box;
	width: 1200px;
	height: 306px;
	margin: 0 auto;
	padding: 10px;
}

.about-us-title {
	margin-bottom: 12px;
	margin-top: 15px;
	margin-left: 10px;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.06px;
	color: #323232;
	font-weight: 700;
	letter-spacing: 0.1px
}

.about-us-articles {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.about-us-list {
	position: relative;
	width: 48.9%;
	padding-left: 56px;
	box-sizing: border-box;
	letter-spacing: 0.06px;
	margin-left: 10px;
}

.about-us-list::before {
	content: "";
	position: absolute;
	top: 3px;
	left: 0;
	width: 49px;
	height: 49px;
}

.lizak {
	margin-top: -5px;
}

.lizak::before {
	background-image: url("../img/ice-cream.svg");
}

.crow {
	margin-top: -5px;
}

.crow::before {
	background-image: url("../img/cow.svg");
}

.leaf {
	margin-top: -14px;
}

.leaf::before {
	background-image: url("../img/eco.svg");
}

.thermometer {
	margin-top: -12px;
}

.thermometer::before {
	background-image: url("../img/thermometer.svg");
}

.information ul {
	list-style: none;
}

.information p {
	color: #323232;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	margin-bottom: 17px;
	box-sizing: border-box;
	padding-right: 10px;
}

.news {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 38px;
	padding-left: 27px;
	padding-right: 27px;
}

.news-in {
	width: 560px;
	min-height: 220px;
	padding: 22px 21px;
	box-sizing: border-box;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: right center;
	border-radius: 15px;
	background: url("../img/strawberry.jpg");
}

.news-article {
	margin: 0;
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: #323232;
}

.news-link1 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #323232;
	background-color: rgba(255, 255, 255, 0.8);
	text-decoration: underline;
	box-sizing: border-box;
	width: 300px;
	display: inline-block;
}

.mail {
	display: flex;
	width: 560px;
	padding: 6px;
	box-sizing: border-box;
	background-image: url("../img/bg-post.svg");
	background-repeat: no-repeat;
	border-radius: 9px;
}

.mail-container {
	padding: 29px 21px 30px;
	box-sizing: border-box;
	background-color: #f8f7f4;
	border-radius: 9px;
}

.mail-text {
	color: #5a5a5a;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	margin: 0;
	margin-bottom: 33px;
}

.subscription {
	display: flex;
	position: relative;
}

.subscription-email {
	margin-right: 13px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
}

.subscription input[type="email"] {
	flex-grow: 1;
	padding-left: 14px;
}

.subscription input[type="submit"] {
	border: none;
}

.map {
	background: url("../img/map.jpg");
	width: 100%;
	height: 429px;
	margin: 0px;
	padding: 0px;
	margin-bottom: 20px;
	background-size: cover;
}

.map::before {
	content: "";
	background: url("../img/pin.svg") no-repeat;
	position: absolute;
	left: 340px;
	top: 2020px;
	width: 80px;
	height: 141px;
	color: #333333;
	fill: #323232;
}

.map-in {
	position: relative;
	box-sizing: border-box;
	width: 1200px;
	margin: 0 auto;
	padding: 63px 20px;
	display: flex;
	justify-content: flex-end;
}

.contacts {
	background-color: #fffefe;
	width: 302px;
	padding: 30px 25px;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #323232;
	border-radius: 15px;
	margin-right: 6px;
	margin-top: -1px;
}

.feedback-adress {
	margin: 0;
	margin-bottom: 17px;
}

.feedback-tel {
	margin: 0;
	margin-bottom: 22px;
}

.contacts__address span {
	display: inline-block;
	width: 150px;
	margin-bottom: 2px;
}

.feedback-position1 {
	color: #323232;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	display: inline-block;
	width: 150px;
	margin-bottom: 2px;
}

.feedback-position2 {
	display: block;
	color: #323232;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	display: block;
}

.feedback-position3 {
	color: #323232;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	display: inline-block;
	margin-bottom: 5px;
}

.feedback-position4 {
	display: block;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	margin-bottom: 2px;
}

.feedback-position4 a {
	color: #323232;
}

.feedback-position5 {
	color: #323232;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.feedback {
	display: none;
	background-color: #f8f7f4;
	width: 478px;
	height: 444px;
	border-radius: 10px;
	position: fixed;
	z-index: 10;
	top: 20%;
	left: 0;
	right: 0;
	margin: auto;
}

.feedback-show {
	display: block;
}

.feedback-form {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 25px;
}

.feedback-form .form-title,
.feedback-form .form-item {
	width: 100%;
	margin: 0 0 20px 0;
}

.feedback-form .input-field-window {
	padding: 9px 15px;
	width: 55%;
}

.input-field {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
}

.input-field-window {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
}

::-webkit-input-placeholder {
	color: #999999;
}

:-moz-placeholder {
	color: #999999;
}

::-moz-placeholder {
	color: #999999;
}

:-ms-input-placeholder {
	color: #999999;
}

.feedback-form textarea.input-field-window {
	height: 154px;
	width: 100%;
	box-sizing: border-box;
}

.form-item button {
	display: flex;
	margin-left: 292px;
	padding-left: 22px;
	padding-right: 22px;
}

.form-title {
	color: #323232;
	font-size: 24px;
	margin-bottom: 15px;
	font-weight: 500;
}
/*Кнопка закрытия попапа*/
.modal-close {
	position: absolute;
	top: 15px;
	right: 13px;
	width: 25px;
	height: 25px;
	font-size: 0;
	border: 0;
	cursor: pointer;
	background-color: #f8f7f4;
}

.modal-close::before,
.modal-close::after {
	content: "";
	position: absolute;
	width: 22px;
	height: 2px;
	background-color: #323232;
	top: 10px;
	left: 2px;
}

.modal-close::before {
	transform: rotate(45deg);
}

.modal-close::after {
	transform: rotate(-45deg);
}

.sub {
	width: 1146px;
	height: 0.5px;
	background-color: #ffffff;
	opacity: 0.3;
	margin-bottom: 18px;
}

.main-footer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	box-sizing: border-box;
	width: 1200px;
	margin: 0 auto;
	padding-left: 27px;
	padding-right: 27px;
}

.social1 {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 15px;
	width: 185px;
	height: 40px;
	margin-bottom: 28px;
}

.footer-information1 {
	display: inline-flex;
	flex-wrap: wrap;
	width: 305px;
	height: 37px;
	align-items: center;
	margin-bottom: 28px;
	margin-left: 235px;
	padding: 0px;
	margin-top: 0.6em;
}

.logo1 {
	display: inline-flex;
	flex-direction: column;
	color: #ffffff;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	width: 190px;
	margin-bottom: 32px;
	margin-left: 230px;
}

.logo1 img {
	width: 108px;
	height: 39px;
	margin-right: 80px;
}

.social {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 15px;
	width: 185px;
	height: 40px;
	margin-bottom: 28px;
}

.footer-social {
	display: inline-flex;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	line-height: 0;
}

.social-list-item {
	display: inline-block;
	vertical-align: top;
	margin-right: 11px;
}

.social-list-icon {
	width: 32px;
	height: 32px;
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
}

.social-list-item:last-child {
	margin-right: 0;
}

.main-footer ul {
	list-style: none;
}

.footer-information {
	display: inline-flex;
	flex-wrap: wrap;
	width: 305px;
	height: 37px;
	align-items: center;
	margin-bottom: 28px;
	margin-left: 237px;
	padding: 0px;
	margin-top: 0.6em;
	margin-right: 2px;
}

.provider {
	color: #ffffff;
	font-size: 13px;
	font-weight: 700;
	line-height: 18px;
	margin-right: 31px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	position: relative;
}

.provider::before {
	content: "";
	background: url("../img/heart.svg") no-repeat;
	position: absolute;
	left: -21px;
	top: 2px;
	width: 15px;
	height: 15px;
	color: #333333;
	fill: #323232;
}

.about-production {
	margin-right: 44px;
}

.view {
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.logo {
	display: inline-flex;
	flex-direction: column;
	color: #ffffff;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	width: 190px;
	margin-bottom: 28px;
	margin-left: 230px;
}

.logo img {
	width: 108px;
	height: 39px;
	margin-right: 80px;
}

.logo p {
	color: #fefefe;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

.footer-copyright a {
	border-bottom: 1px solid rgba(255,255,255,0.2)
}

.login-link {
	font-family: "Roboto", "Arial", sans-serif;
	color: #323232;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
}
